{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load static %}
{% block head %}
  <meta name="description" content="{% trans 'Portfolio' %}" />
  <meta name="theme-color" content="#FF5A5F"/>
{% endblock %}
{% block title %}{{ self.title }}{% endblock %}
{% block bodytag %}style="background-color: #FF5A5F; color:#ffffff"{% endblock %}
{% block content %}
<div style="color: #ffffff;">
  <div class="whole-screen-view position-relative d-flex align-items-center mt-n4 mt-lg-n5">
    <div>
      <h1>{{ self.title }}</h1>
    </div>
  </div>
	<div style="margin-top: 10vh;">
		<table style="width:100%">
			<tr>
				<th class="px-1">{% trans 'Ticker' %}</th>
				<th class="px-1">{% trans 'Price' %}</th>
				<th class="px-1">{% trans 'Quantity' %}</th>
				<th class="px-1">{% trans 'Date' %}</th>
				<th class="px-1">{% trans 'Currency' %}</th>
				<th class="px-1">{% trans 'Win/Loss' %}</th>
				<th class="px-1">{% trans 'Entry' %}</th>
			</tr>
			{% for asset in assets %}
				<tr>
					<td class="px-1">{{ asset.ticker }}</td>
					<td class="px-1">{{ asset.price }}</td>
					<td class="px-1">{{ asset.quantity }}</td>
					<td class="px-1">{{ asset.get_date }}</td>
					<td class="px-1">{{ asset.currency }}</td>
					<td class="px-1">{{ asset.get_win_loss }}</td>
					<td class="px-1">{{ asset.get_entry }}</td>
				</tr>
			{% endfor %}
		</table>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    window.onload = function(){
      document.getElementById('nav-bar-big').classList.add('portfolio');
      document.getElementById('nav-menu-container').classList.add('portfolio');
      document.getElementById('nav-menu-btn').classList.add('portfolio');
      document.getElementById('nav-div-mobile').classList.add('portfolio');
      document.getElementById('nav-div-mobile-content').classList.add('portfolio');
    }
    //document.addEventListener("DOMContentLoaded", function(){});
  </script>
{% endblock %}