{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load static %}
{% block head %}
  <meta name="description" content="{% trans 'About' %}" />
  <meta name="theme-color" content="rgb(52,87,116)"/>
{% endblock %}
{% block title %}{{ self.title }}{% endblock %}
{% block bodytag %}style="background-color: rgb(52,87,116); color:#ffffff"{% endblock %}
{% block content %}
<div style="color: #ffffff;">
  <div class="whole-screen-view position-relative d-flex align-items-center mt-n4 mt-lg-n5">
    <div>
      <h1>{{ self.title }}</h1>
    </div>
  </div>
  <div style="margin-top: 10vh;">
		{% for block in page.content %}
			{% include_block block %}
		{% endfor %}
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    window.onload = function(){
      document.getElementById('nav-bar-big').classList.add('about');
      document.getElementById('nav-menu-container').classList.add('about');
      document.getElementById('nav-menu-btn').classList.add('about');
      document.getElementById('nav-div-mobile').classList.add('about');
      document.getElementById('nav-div-mobile-content').classList.add('about');
    }
    //document.addEventListener("DOMContentLoaded", function(){});
  </script>
{% endblock %}