{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags cache i18n static %}
{% block title %}
  {{ page.title }}
{% endblock %}
{% block bodytag %}style="background-color: #ffffff; color: #000000"{% endblock %}
{% block head %}
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.preview_text|truncatewords_html:10 }}" />
  <meta name="description" content="{{ page.preview_text|truncatewords_html:10 }}" />
  {% if page.image %}
    <meta property="og:image" content="{{ page.image.url}}" />
  {% endif %}
  <meta name="theme-color" content="#ffffff"/>
	<link rel="stylesheet" href="{% static 'css/prism.css' %}">
	<link rel="stylesheet" href="{% static 'css/code.css' %}">
{% endblock %}
{% block content %}
  <div>
    <div class="whole-screen-view position-relative d-flex align-items-center mt-n4 mt-lg-n5">
      <div class="d-flex flex-column">
        <div class="position-absolute mt-5" style="top: 0">
          <div>
						<a href="{{ page.get_parent.url }}" 
							class="mb-5 color-black"
							onClick="return newPageNav('{{ page.get_parent.url }}', 'whole-blog-overlay');">
              <div class="d-flex flex-wrap align-items-center">
                <div class="long-arrow-icon mr-2">
                  <div class="d-inline long-left-arrow bg-black">
                  </div>
                </div>
                <div class="font-small">
                  {% trans 'Back to articles' %}
                </div>
              </div>
            </a>
          </div>
          <div class="d-flex flex-wrap mt-5">
            {% for tag in page.tags.all %}
              <a class="mb-2" href="{{ page.get_parent.url }}?&tags={{tag}}" 
                onClick="return newPageNav('{{ page.get_parent.url }}?&tags={{tag}}', 'whole-blog-overlay');"
                style="text-decoration: none !important;">
                <div class="d-inline article-tag font-small ml-1 border border-black p-1">
                  {{ tag }}
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
        {% if page.subtitle %}
          <div>
            <h2>{{ page.subtitle }}</h1>
          </div>
        {% endif %}
        <div>
          <h1>{{ page.title }}</h1>
        </div>
      </div>
      <div class="whole-screen-view-bottom-left position-absolute mt-5 text-right">
        <div class="pb-5">
          <h4>{{ page.first_published_at.date }}</h4>
          <h5>{% trans 'by' %} {% for author in page.authors.all %}{{ author.first_name }} {{ author.last_name }} {% if not forloop.last %},{% endif %}{% endfor %}</h5>
        </div>
      </div>
    </div>
    <div class="article-content ml-lg-5 mr-lg-5" style="margin-top: 30vh;">
			{% for block in page.content %}
				{% include_block block %}
			{% endfor %}
    </div>
    <div class="mt-5">
      <div>
				<a href="{{ page.get_parent.url }}" 
					class="mb-5 color-black" 
					onClick="return newPageNav('{{ page.get_parent.url }}', 'whole-blog-overlay');">
          <div class="d-flex flex-wrap align-items-center">
            <div class="long-arrow-icon mr-2">
              <div class="d-inline long-left-arrow bg-black">
              </div>
            </div>
            <div class="font-small">
              {% trans 'Back to articles' %}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
	<script type='text/javascript' src="{% static 'js/prism.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
      let active = false;
      const lazyLoad = function() {
        if (active === false) {
          active = true;
          setTimeout(function() {
            lazyImages.forEach(function(lazyImage) {
              if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                lazyImage.src = lazyImage.dataset.src;
                lazyImage.classList.remove("lazy");
                lazyImages = lazyImages.filter(function(image) {
                  return image !== lazyImage;
                });
                if (lazyImages.length === 0) {
                  document.removeEventListener("scroll", lazyLoad);
                  window.removeEventListener("resize", lazyLoad);
                  window.removeEventListener("orientationchange", lazyLoad);
                }
              }
            });
            active = false;
          }, 200);
        }
      };

      document.addEventListener("scroll", lazyLoad);
      window.addEventListener("resize", lazyLoad);
      window.addEventListener("orientationchange", lazyLoad);
    });
    window.onload = function(){
      document.getElementById('nav-bar-big').classList.add('article');
      document.getElementById('nav-menu-container').classList.add('article');
      document.getElementById('nav-menu-btn').classList.add('article');
      document.getElementById('nav-div-mobile').classList.add('article');
      document.getElementById('nav-div-mobile-content').classList.add('article');
      document.getElementById('nav-menu-container').classList.add('bg-primary');
      document.getElementById('footer-content').classList.remove('border-white');
      document.getElementById('footer-content').classList.add('border-black');
      document.getElementById('footer-social-media').classList.add('article');
      window.scrollTo(0, 0);
    }
    //document.addEventListener("DOMContentLoaded", function(){});
  </script>
{% endblock %}