{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load wagtailcore_tags wagtailroutablepage_tags %}
{% block title %}
  {% trans 'Articles' %}
{% endblock %}
{% block head %}
  <meta name="theme-color" content="#0C4B33"/>
  <meta name="description" content="{{ self.title }}" />
  <link rel="stylesheet" href="{% static 'vendors/tagify/tagify.css' %}">
{% endblock %}
{% block bodytag %}style="background-color: #0C4B33;"{% endblock %}
{% block overlay %}
  <div id="articles-search-bar" class="bg-white position-absolute articles-search-bar">
    <form id="articles-filter-form" class="d-flex w-100 h-100 align-items-center max-width-medium m-auto"
      onSubmit="e.preventDefault(); submitArticlesFilterForm();">
      <div>
        <div class="pl-3 pr-3 pl-md-4 pr-md-4 cursor-pointer" onClick="hideSearch();">
          <i class="icon-cancel color-primary"></i>
        </div>
      </div>
      <div class="w-100">
				<input id="articles-filter-search" class="basic-form-input invisible-input" name="search" 
					placeholder="{% trans 'Search' %}" aria-label="{% trans 'Keyword' %}"/>
      </div>
      <div>
        <div class="pl-3 pr-3 pl-md-4 pr-md-4 cursor-pointer" onClick="submitArticlesFilterForm();">
          <i class="icon-search color-primary"></i>
        </div>
      </div>
    </form>
  </div>
  <div class="d-block d-md-none mt-3 mr-3 position-fixed" style="top: 64px; right: 0px; z-index: 1;">
    <div id="articles-search-button-mobile" 
      class="rounded-circle border border-thick border-white p-2 cursor-pointer sligh-box-shadow bg-primary" 
      onClick="showSearch();">
      <div class="d-flex justify-content-center align-items-center" style="width: 32px; height:32px;">
        <i class="icon-search font color-white z-index: 1;"></i>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
<div style="color: #ffffff;">
  <div class="d-flex align-items-center position-relative mt-4">
    <div>
      <h1 id="articles-title">{{ self.title }}</h1>
    </div>
    <div class="rounded-circle border border-thick border-white p-2 cursor-pointer ml-3 d-none d-md-block" 
      onClick="showSearch();">
      <div class="d-flex justify-content-center align-items-center" style="width: 32px; height:32px;">
        <i class="icon-search font color-white z-index: 1;"></i>
      </div>
    </div>
  </div>
  <div id="articles-content" class="mt-5"></div>
</div>
<script src="{% static 'vendors/tagify/tagify.min.js' %}"></script>
<script>
	let tagify = null;
  firstSearch = true;
  document.addEventListener('DOMContentLoaded', () => {
		let container = document.getElementById('articles-content');
		removeAllChilds(container);
		container.appendChild(getArticlesSkeleton());
  });
  function loadArticles(newUrl, pushUrl=false){
    idk(newUrl, pushUrl);
    return false;
  }
  async function idk(newUrl, pushUrl=false){
    await loadContentSkeleton('articles-content', newUrl, getArticlesSkeleton());
    if (pushUrl == true){
      const urlParas = newUrl.split('?');
      if (urlParas.length > 1) {
        window.history.pushState('', '', '{{ listing_url }}?' + newUrl.split('?')[1]);
      }else{
        window.history.pushState('', '', '{{ listing_url }}');
      }
    }
    setTimeout(() => {
      let imageElements = document.getElementsByClassName('article-preview-image');
      for(let i = 0;i < imageElements.length; i++){
        imageElements[0].style.backgroundImage = imageElements[0].getAttribute('data-background-image');
      }
      randomizeShowingPreview();
    }, 500);
  }
  function showSearch() {
    document.getElementById('articles-search-bar').classList.add('d-md-block');
    setTimeout(function(){
      document.getElementById('articles-search-bar').classList.add('is-active');
    }, 1);
    setTimeout(function(){
      document.getElementById('main-block').addEventListener('click', hideSearch);
    }, 1);
    setTimeout(function(){
      document.getElementById('articles-filter-search').focus();
      document.getElementById('articles-filter-search').select();
    }, 10);
  }
  function hideSearch() {
    document.getElementById('articles-search-bar').classList.remove('is-active');
    document.getElementById('main-block').removeEventListener(
      'click', hideSearch
    )
  }
	async function submitArticlesFilterForm() {
    let page = '';
    let newUrl = new URL(window.location.origin + '{% url "blog:articles_content" %}');
    let displayUrl = new URL(window.location.origin + '{{ listing_url }}');
		const search = document.getElementById('articles-filter-search').value;
		if (search) {
			const searchJson = JSON.parse('{"search":' + search + '}');
			let searchString = '';
			searchJson.search.forEach((dictio) => {
				searchString += dictio.value + ';;;';
			})
			if (search != null || search != '') {
				newUrl.searchParams.append('search', searchString);
				displayUrl.searchParams.append('search', searchString);
			}
		}
    if (firstSearch == false){
      window.history.pushState('', '', displayUrl);
      hideSearch();
    } else {
      firstSearch = false;
    }
    loadArticles(newUrl);
  }
  function randomizeShowingPreview() {
    let hiddenArticleOverlays = document.getElementsByClassName('article-hidden-overlay');
    for(let i = 0;i < hiddenArticleOverlays.length; i++){
      loopActive(hiddenArticleOverlays[i]);
    }
  }
  async function loopActive(element) {
    const start = Math.floor((Math.random() * 5000) + 1);
    const timeout = Math.floor((Math.random() * 2000) + 3000);
    await new Promise(resolve => setTimeout(resolve, timeout));
    for (item of new Array(1000)){
      await sleep(timeout);
      element.classList.add('active');
      await sleep(timeout);
      element.classList.remove('active');
    }
  }
  function getArticleSkeleton() {
    let megaDiv = setAttributes(document.createElement('div'), {
      'class': 'col-12 col-sm-6 col-xl-4 mb-5 article',
      'style': 'min-height: 320px;'
    });
    let borderDiv = setAttributes(document.createElement('div'), {
      'class': 'skeleton-border p-3 d-flex flex-column justify-content-between h-100'
    });
    let topDiv = setAttributes(document.createElement('div'), {});
    let h5 = setAttributes(document.createElement('div'), {
      'class': 'h5-skeleton skeleton-animate'
    });
    let h2 = setAttributes(document.createElement('div'), {
      'class': 'h2-skeleton skeleton-animate'
    });
    topDiv.appendChild(h5);
    topDiv.appendChild(h2);
    borderDiv.appendChild(topDiv);
    let bottomDiv = setAttributes(document.createElement('div'), {
      'class': 'd-flex flex-column flex-md-row justify-content-between align-items-end'
    });
    let publishDateParent = setAttributes(document.createElement('div'), {
      'class': 'd-flex w-100',
    });
    let publishDate = setAttributes(document.createElement('div'), {
      'class': 'release-date-skeleton skeleton-animate',
    });
    publishDateParent.appendChild(publishDate);
    bottomDiv.appendChild(publishDateParent);
    let readMore = setAttributes(document.createElement('div'), {
      'class': 'read-more-skeleton skeleton-animate',
    });
    bottomDiv.appendChild(readMore);
    borderDiv.appendChild(bottomDiv);
    megaDiv.appendChild(borderDiv);
    return megaDiv
  }
  function getArticlesSkeleton() {
    let row = setAttributes(document.createElement('div'), {
      'class': 'row pt-4',
    });
    for (let i = 0; i < 12; i++){
      row.appendChild(getArticleSkeleton());
    }
    return row;
  }
  function changePage(page) {
    let currentUrl = window.location.href.split('&page=')[0].split('page=')[0].split('?');
    let newHrefContent = '{% url "blog:articles_content" %}';
    let newHref = '{{ listing_url }}';
    let pageString = '';
    if(currentUrl.length != 1){
      var i = currentUrl.indexOf('?');
      newHrefContent = newHrefContent + '?' + currentUrl.slice(i) + '&page=' + String(page);
      newHref = newHref + '?' + currentUrl.slice(i) + '&page=' + String(page);
    }else{
      newHrefContent = newHrefContent + '?&page=' + String(page);
      newHref = newHref + '?page=' + String(page);
    }
    loadContentSkeleton('articles-content', newHrefContent, getArticlesSkeleton());
    history.pushState('I have no idea', '{{ page.title }}', newHref);
    window.scrollTo(0, 0);
  }
	graphqlUrl = window.location.protocol + "//" + window.location.href.split('/')[2] + '/graphql';
	fetch(graphqlUrl, {
			method: 'POST',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify({ query: '{authors, tags, categories, articles}' }),
	})
		.then(res => res.json())
		.then((res) => {
			const tagifytags = [];
			res.data.authors.forEach((name) => {
					tagifytags.push('author: ' + name);
			})
			res.data.categories.forEach((name) => {
					tagifytags.push('category: ' + name);
			})
			res.data.tags.forEach((name) => {
					tagifytags.push('tag: ' + name);
			})
			res.data.articles.forEach((name) => {
					tagifytags.push('article: ' + name);
			})
			tagify = new Tagify(
				document.getElementById('articles-filter-search'),
				{
					whitelist: tagifytags
				}
			);
			{% for search in searches %}
				tagify.addTags(['{{ search }}'])
			{% endfor %}
			if (window.location.href.indexOf("?search")) {
				setTimeout(() => {
					submitArticlesFilterForm();
				}, 5);
				var uri_dec = decodeURIComponent(window.location.href);
			}
		});
</script>
{% endblock %}