{% load i18n %}
{% load static %}
{% load wagtailcore_tags wagtailroutablepage_tags cache %}
{% block content %}
<div>
  {% if searches %}
    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center jusitfy-content-center jusitfy-content-md-start">
      <div>
        {% trans 'Articles containing: ' %} 
			</div>
			<div class="d-flex flex-row ml-md-1">
				{% for search in searches %}
					<div class="p-1 bg-white color-black rounded font-smaller mr-1">
						{{ search }}
					</div>
				{% endfor %}
				<div class="cursor-pointer d-flex align-items-center" onClick="tagify.removeAllTags(); loadArticles('{% url "blog:articles_content" %}', true);">
					<i class="icon-cancel color-white"></i>
				</div>
			</div>
    </div>
  {% endif %}
  <div class="row pt-4">
		{% for article in articles %}
			{% cache 604800 article article.id %}
				<div class="col-12 col-sm-6 col-xl-4 mb-5 article" style="min-height: 320px;">
					<div class="w-100 h-100 position-relative">
						{% if article.preview_image or article.preview_text %}
							<div class="w-100 h-100 p-3 position-absolute article-hidden-overlay"
								style="background-color: rgba(0, 0, 0, 0.8)">
								<div class="position-relative w-100 h-100 ">
									{% if article.preview_image %}
										<div class="position-relative background-image-center-cover article-preview-image w-100 h-100" 
											style="background-image: url('{% static "img/blog/food3.webp" %}');" 
											data-background-image='url("{{ article.preview_image.file.url }}")'>
											<div class="position-absolute w-100 article-preview-overlay" 
												style="bottom: 0; background-color: rgba(0, 0, 0, 0.6);">
											</div>
										</div>
									{% else %}
										<div class="position-relative background-image-center-cover article-preview-image w-100 h-100">
											{{ article.preview_text|linebreaks }}
											<div class="position-absolute w-100 article-preview-overlay" 
												style="bottom:0; background-color: rgba(0, 0, 0, 0.8);">
											</div>
										</div>
									{% endif %}
								</div>
							</div>
						{% endif %}
						<div class="border border-thick p-4 d-flex flex-column justify-content-between h-100">
							<div>
								<div class="d-flex justify-content-between mb-1 align-items-start 
								{% if aritcle.tags.all %}flex-row-reverse{% endif %}">
									<div>
										{% if article.subtitle %}
											<h5 class="mb-0">
												{{ article.subtitle }}
											</h2>
										{% else %}
											<h5 style="visibility: hidden;">
												.
											</h2>
										{% endif %}
									</div>
									<div class="d-flex flex-wrap flex-row-reverse">
										{% for tag in article.tags.all %}
											<div class="mb-1 cursor-pointer" href="{{ listing_url }}?search=tag: {{tag}}%3B%3B%3B" 
												onClick="loadArticles('{% url "blog:articles_content" %}?search=tag: {{tag}}%3B%3B%3B', true);"
												style="text-decoration: none !important;">
												<div class="d-inline article-content-tag font-smallest ml-1 border border-white p-1">
													{{ tag }}
												</div>
											</div>
										{% endfor %}
									</div>
							</div>
								<h2>
									{{ article.title }}
								</h2>
							</div>
							<a style="z-index: 1;" href="{{ article.url }}" onClick="return goToArticle('{{ article.url }}');">
								<div class="d-flex flex-column flex-md-row justify-content-between align-items-end">
									<div class="w-100">
										{{ article.get_date }}
									</div>
									<div class="pt-md-5 pl-md-2 w-100">
										<div class="d-flex justify-content-end align-items-center">
											<div class="d-flex flex-wrap align-items-center">
												<div class="font-small">
													{% trans 'read more' %}
												</div>
												<div class="long-arrow-icon ml-2">
													<div class="d-inline long-right-arrow bg-white">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			{% endcache %}
		{% endfor %}
  </div>
	{% if not articles and searches %}
		<div class="mt-4 d-flex flex-column align-items-center">
			<h3>
				{% trans 'We could not find any articles' %}
			</h3>
			{% trans 'Remove a few tags and try again.' %}
		</div>
	{% elif not articles %}
	<div class="mt-4 d-flex flex-column align-items-center">
		<h3>
			{% trans 'No articles yet' %}
		</h3>
		{% trans 'It seems like there has not been any articles written yet. Check again tomorrow!' %}
	</div>
	{% endif %}
  {% url 'blog:articles_content' as pagination_url %}
  {% trans 'Blog' as pagination_title %}
  {% include "blog/pagination.html" with page=articles %}
</div>
{% endblock %}
