{% load i18n blog_tags %}
<div id="pagination" class="d-flex justify-content-center align-items-center pt-4 w-100">
  <div class="d-flex justify-content-center align-items-center ">
    {% page_min page.number as page_min %}
    {% page_max page.number as page_max %}
    {% if page.paginator.num_pages != 1 %}
      {% if page.has_previous %}
        <div class="d-block mr-2 cursor-pointer" onclick="changePage({{ page.previous_page_number }})">
          <div class=" p-2 border border-white text-center d-inline-block w-h-40 pagination-page">
            <i class="icon-left"></i>
          </div>
        </div>
      {% endif %}
      {% for num in page.paginator.page_range %}
        {% if num == page.number %}
          <div class="p-2 mr-2 border border-white text-center d-inline-block pagination-page active">
            {{ page.number }}
          </div>
        {% elif num >= page_min and page_max >= num %}
          <div class="d-block mr-2 cursor-pointer" onclick="changePage({{ num }})">
            <div class="p-2 border border-white text-center d-inline-block pagination-page">
              {{ num }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% if page.has_next %}
        <div class="d-block cursor-pointer" onclick="changePage({{ page.next_page_number }})">
          <div class="p-2 border border-white text-center d-inline-blocl pagination-page">
            <i class="icon-right"></i>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>