{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Error 404' %}{% endblock %}
{% block bodytag %}style="background-color: #ffffff; color: #000000"{% endblock %}
{% block content %}
<div class="pt-5 pl-2 pr-2 p-sm-4 ml-auto mr-auto mt-5 text-center max-width-medium d-flex flex-column flex-md-row">
  <div class="text-left">
    <h2 class="font-weight-bold mb-5">
      {% trans 'Oops!' %}
    </h2>
    <h3 class="mb-4">
      {% trans "We can't seem to find the page you're looking for." %}
    </h3>
    <p class="font-smaller mb-4">
      {% trans 'Error code: ' %}
      <span class="unset font-weight-bold font-smaller">
        404
      </span>
    </p>
    <div class="d-flex flex-column">
      {% trans 'Here are some helpful links instead:' %}
      <a class="color-black" href="/">
        {% trans 'Home' %}
      </a>
      <a class="color-black" href="/contact">
        {% trans 'Contact' %}
      </a>
    </div>
  </div>
  <div class="d-flex justify-content-center w-100 w-sm-auto">
    <img style="height: 428px; width: 313px;" src="{% static 'img/error/error_image.gif' %}" />
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  window.onload = function(){
    document.getElementById('nav-bar-big').classList.add('article');
    document.getElementById('nav-menu-container').classList.add('article');
    document.getElementById('nav-menu-btn').classList.add('article');
    document.getElementById('nav-div-mobile').classList.add('article');
    document.getElementById('nav-div-mobile-content').classList.add('article');
    document.getElementById('nav-menu-container').classList.add('bg-primary');
    document.getElementById('footer-content').classList.remove('border-white');
    document.getElementById('footer-content').classList.add('border-black');
    document.getElementById('footer-social-media').classList.add('article');
    window.scrollTo(0, 0);
  }
</script>
{% endblock %}
