{% load i18n menu_tags %}
{% load static cache %}


<div class="d-none d-md-block position-absolute max-width-large mt-md-4 mr-md-4 mt-lg-5 mr-lg-5" 
  style='top:0px; right: 0px; z-index: 1;'>
  <div id="nav-bar-big" class="d-md-flex flex-column">
    <!--a class="a-link text-right" onClick="newPageNav('{about}', 'whole-about-overlay')">
      <div class="pl-2 pr-2 pb-1 unselectable">{% trans 'Home' %}</div>
    </a-->
		{% cache 604800 navigation %}
			{% get_menu 'nav' as navigation %}
			{% for item in navigation.menu_item.all %}
				<a class="a-link text-right mt-n1" href="{{ item.link }}" 
					onClick="return newPageNav('{{ item.link }}', 'whole-{{ item.slug }}-overlay');">
					<div class="pl-2 pr-2 pt-1 pb-1 unselectable">{{ item.title }}</div>
				</a>
			{% endfor %}
		{% endcache %}
  </div>
</div>
<div class="d-block d-md-none mt-3 mr-3" style="position: fixed; right: 0px; z-index: 4;">
  <div id="nav-menu-container" 
    class="rounded-circle p-2 cursor-pointer"
    onClick="showHideMobileNav();">
    <div class="d-flex justify-content-center align-items-center" style="width: 32px; height:32px;">
      <div id="nav-menu-btn" class="nav-menu-btn" style="z-index: 4;">
      </div>
    </div>
  </div>
</div>
<div id="nav-div-mobile" class="nav-div-mobile d-block d-md-none" style='z-index: 3;'>
  <div class="nav-div-mobile-1">
    <div id="nav-div-mobile-content" class="nav-div-mobile-content d-flex flex-column align-items-end pl-1 pr-1">
      <!--a onClick="newPageNav('{about}', 'whole-about-overlay')" class="a-link-reverse w-100">
        <div class="pl-3 pr-3 pt-2 pb-2 w-100 text-right unselectable">{% trans 'Home' %}</div>
			</a-->
			{% cache 604800 navigation_mobile %}
				{% for item in navigation.menu_item.all %}
					<a href="{{ item.link }}" class="a-link-reverse w-100"
						onClick="return newPageNav('{{ item.link }}', 'whole-{{ item.slug }}-overlay');">
						<div class="pl-3 pr-3 pt-2 pb-2 w-100 text-right unselectable">{{ item.title }}</div>
					</a>
				{% endfor %}
			{% endcache %}
    </div>
  </div>
</div>

<script>
  function showMobileNav(){
    document.getElementById('nav-menu-btn').classList.add('is-active')
    document.getElementById('nav-menu-container').classList.add('is-active')
    document.getElementsByClassName('nav-div-mobile')[0].style.top = "0";
    document.getElementById('nav-menu-container').classList.remove('bg-primary');
    document.getElementById('nav-menu-container').classList.add('bg-white');
    document.getElementById('main-block').addEventListener(
      'click', hideMobileNav
    )
  }
  function hideMobileNav(){
    document.getElementById('nav-menu-btn').classList.remove('is-active')
    document.getElementById('nav-menu-container').classList.remove('is-active')
    document.getElementById('nav-menu-container').classList.remove('bg-white');
    document.getElementById('nav-menu-container').classList.add('bg-primary');
    document.getElementsByClassName('nav-div-mobile')[0].style.top = "-110vh";
    document.getElementById('main-block').removeEventListener(
      'click', hideMobileNav
    )
  }
  function showHideMobileNav(){
    if(document.getElementById('nav-menu-btn').classList.contains('is-active') == true){
      hideMobileNav();
    }else{
      showMobileNav();
    }
  }

</script>