{% load i18n %}
{% load static %}

<div class="side-nav">
  <div class="side-nav-upper">
    <div class="side-nav-block">
      <div class="side-nav-block-label">
        {% trans 'Shop' %}
      </div>
      <div class="side-nav-tab">
        <a href="">
          {% trans 'Category 1' %}
        </a>
      </div>
    </div>
  </div>
  <div class="side-nav-lower">
    <div class="side-nav-block">
      <div class="side-nav-block-label">
        {% trans 'Account' %}
      </div>
      <div class="side-nav-tabs">
        <a href="">
          {% trans 'Sign in' %}
        </a>
        <a href="">
          {% trans 'Sign up' %}
        </a>
      </div>
    </div>
    <div class="side-nav-block">
      <div class="side-nav-block-label">
        {% trans 'Legal' %}
      </div>
      <div class="side-nav-tabs">
        <a class="side-nav-tab" href="{% url 'contact:contact' %}">
          {% trans 'Contact' %}
        </a>
        <a class="side-nav-tab" href="{% url 'policy:terms_of_service'%}">
          {% trans 'Terms of Service' %}
        </a>
        <a class="side-nav-tab" href="{% url 'policy:return_policy'%}">
          {% trans 'Return policy' %}
        </a>
        <a class="side-nav-tab" href="{% url 'policy:privacy_policy'%}">
          {% trans 'Privacy policy' %}
        </a>
        <a class="side-nav-tab" href="{% url 'policy:impressum'%}">
          {% trans 'Impressum' %}
        </a>
        <a class="side-nav-tab"
          href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE">
          {% trans 'Online-Streitbeilegung' %}
        </a>
      </div>
    </div>
  </div>
</div>