{% load i18n %}
{% load cache static site_settings_tags %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html class="no-js" lang="{{LANGUAGE_CODE}}">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129106944-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-129106944-1');
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% trans "Calen Wu's Blog" %}">
	<meta property="og:description"  content="{% trans "Calen Wu's Blog" %}">
	<meta property="og:url" content="https://georgeye.dev/">
	<meta property="og:site_name" content="Calen Wu">
	<link rel="shortcut icon" type="image/png" href="favicon.image.url"/>
	<title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'vendors/fontello/css/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/calen-blog.css' %}">
	{% block head %}{% endblock %}
</head>
<body {% block bodytag %}{% endblock %} class='position-relative'>
  <script src="{% static 'js/base.min.js' %}" type="application/javascript"></script>
  <div id="whole-white-overlay" class="whole-page-overlay bg-white">
  </div>
  <div id="whole-blog-overlay" class="whole-page-overlay bg-blog">
  </div>
  <div id="whole-about-overlay" class="whole-page-overlay bg-about">
  </div>
  <div id="whole-contact-overlay" class="whole-page-overlay bg-contact">
  </div>
  <div id="whole-portfolio-overlay" class="whole-page-overlay bg-portfolio">
  </div>
  {% block overlay %}
  {% endblock %}
  <div id="body-block" class="position-relative max-width-large ml-auto mr-auto">
    {% include 'base-navbar.html' %}
    <div>
      <div id="snackbar" class="snackbar form-error-container-container"></div>
      <div id="main-block" class="position-relative " style="max-width: none;">
        <div class="pt-4 pb-5 pl-lg-5 pr-lg-5 pl-2 pr-2 pl-sm-3 pr-sm-3 pt-lg-5 pr-lg-5">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div id="footer-content"
        class="pt-5 pb-5 pl-lg-5 pr-lg-5 pl-2 pr-2 pl-sm-3 pr-sm-3 pt-lg-5 pr-lg-5 mt-5 border-top border-white">
        <div class="d-flex justify-content-end">
          <div id="footer-social-media">
						{% cache 604800 social_media %}
							{% get_social_media as social_media %}
							{% for social in social_media %}
								<a href="{{ social.url }}" target="_blank" rel="noopener" aria-label="{{ social.name }}" class="p-3 p-md-2 a-link">
									<h4 class="mb-0 d-inline-block"><i class="{{ social.icon_classname }}"></i></h4>
								</a>
							{% endfor %}
						{% endcache %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript'>
    document.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {
        document.getElementById('main-block').style.opacity = '1';
        document.getElementById('main-block').style.paddingTop = '0';
      }, 2);
      window.addEventListener('popstate', pageSwitcher, false);
    });
    async function sleep(timeout){
      return await new Promise(resolve => setTimeout(resolve, timeout));
    }
    async function pageSwitcher(event){
      const newUrl = window.location.href;
      if (newUrl.includes('/contact')) {
        newPage(newUrl, 'whole-contact-overlay');
      } else if (newUrl.includes('/about')) {
				newPage(newUrl, 'whole-about-overlay');
			} else if (newUrl.includes('/portfolio')) {
        newPage(newUrl, 'whole-portfolio-overlay');
      } else if(newUrl.includes('/articles')) {
        if (newUrl.split('&')[0].split('/articles')[1].length > 2 && !newUrl.includes('page')) {
          goToArticle(newUrl, false);
        } else{
          newPage(newUrl, 'whole-blog-overlay');
        }
      } else {
        newPage(newUrl, 'whole-about-overlay');
      }
    }
    function goToArticle(newUrl, pushNewState=true){
      if (pushNewState){
        window.history.pushState('', '', newUrl);
      }
      newPage(newUrl, 'whole-white-overlay');
      return false;
    }
    function newPageNav(newUrl, wholeOverlayId){
      window.history.pushState('', '', newUrl);
      newPage(newUrl, wholeOverlayId);
      return false;
    }
    async function newPage(newUrl, overlayId){
      let container = document.getElementsByTagName("BODY")[0];
      document.getElementById(overlayId).style.left = 0;
      const startTime = Date.now();
      await fetch(newUrl)
        .then(response => {
          return response.text()
        })
        .then(html => {
          const elapsedTime = ((Date.now() - startTime));
          if (elapsedTime > 500){
            document.open();
            document.write(html);
            document.close();
          }else{
            setTimeout(() => {
              document.open();
              document.write(html);
              document.close();
            }, 500 - elapsedTime)
          }
        })
        .catch(error => {
          console.log('request failed', error);
					createFancyAlert('error', 'Loading error', 'There was an error trying to load the content');
          throw error;
        })
    }
    function goToArticles(){
      newPageNav('/articles', 'whole-blog-overlay');
      return false
    }
  </script>
  {% block script %}
  {% endblock %}
</body>
</html>