{% load wagtailimages_tags %}
<div class='my-2'>
	<h2>
		{{ self.title }}
	</h2>
	{% for card in self.cards %}
		<div class="card" style="width: 18rem;">
			{% image card.image fill-300x200 as img %}
			<img src="{{ img.url }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{ card.title }}</h5>
				<p class="card-text">{{ card.text }}</p>
				{% if card.button_page %}
					<a href="{{ card.button_page.url }}" class="btn btn-primary">{{ card.button_text }}</a>
				{% elif card.button_url %}
					<a href="{{ card.button_url.url }}" class="btn btn-secondary">{{ card.button_text }}</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>