<div class="code-card my-2">
  <div class="code-card-shine"></div>
  <div class="code-snippet">
    <div>
			<pre>
				<code class="prism language-{{ self.language }}">
					{{ self.code }}
				</code>
			</pre>
		</div>
  </div>
</div>