
{% extends 'base.html' %}
{% load i18n %}
{% block head %}
{% load wagtailcore_tags %}
  <meta name="theme-color" content="rgb(38, 38, 38)"/>
  <meta name="description" content="{{ self.title }}" />
{% endblock %}
{% block title %}{{ self.title }}{% endblock %}
{% block bodytag %}style="background-color: rgb(38, 38, 38); color: #ffffff"{% endblock %}
{% block content %}
<div class="pt-4 pl-2 pr-2 p-sm-4 m-auto mt-5 text-center max-width-small" style="color: #ffffff;">
  <h1 class="mb-5">{{ self.title }}</h2>
  <div>
    {% if form.non_field_errors %}
    <div class="form-error-container mb-4">
      {% for error in form.non_field_errors %}
        {{ error|escape }}<br />
      {% endfor %}
    </div>
		{% endif %}
    <form id="contact-form" action="{% pageurl page %}" method="post" class="text-left"
			onSubmit="e.preventDefault();">
			{% for field in form %}
				<div class="mb-4">
					<label class="font-weight-bold" for="{{ field.id_for_label }}">
						{{ field.label }}
					</label>
					{% if field.field.widget.template_name == 'django/forms/widgets/textarea.html' %}
						<textarea id="{{ field.id_for_label }}" 
							name="{{ field.html_name }}"
							placeholder="{% trans 'I love your blog' %}" 
							rows="10" 
							class="basic-form-input h-auto"
							{% if field.field.widget.is_required %}required{% endif %}></textarea>
					{% elif field.html_name == 'wagtailcaptcha' %}
						{{ field }}
					{% else %}
						<input id="{{ field.id_for_label }}" 
							name="{{ field.html_name }}"
							placeholder="{{ field.help_text }}"
							type="{{ field.field.widget.input_type }}"
							class="basic-form-input"
							{% if field.field.widget.is_required %}required{% endif %} />
					{% endif %}
					{% if field.errors %}
						<div class="field-error">
							{% for error in field.errors %}
								{{ error|escape }}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
      {% csrf_token %}
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-contact-border btn-lg">
          {{ self.submit_button_text }}
        </button>
      </div>
    </form>
  </div>
  <br />
</div>
<script>
  window.onload = function(){
    document.getElementById('nav-bar-big').classList.add('contact');
    document.getElementById('nav-menu-container').classList.add('contact');
    document.getElementById('nav-menu-btn').classList.add('contact');
    document.getElementById('nav-div-mobile').classList.add('contact');
    document.getElementById('nav-div-mobile-content').classList.add('contact');
    document.getElementById('nav-menu-container').classList.add('bg-contact');
	}
	{% for message in messages %}
		{% if message.tags == 'success' %}
			createFancyAlert('success', '{% trans "Message sent" %}', '{% trans "We received your message and will respond as soon as possible" %}');
		{% elif message.tags == 'error' %}
			createFancyAlert('error', '{% trans "Error occurred while sending message" %}', '{% trans "Please try again" %}');
		{% endif %}
	{% endfor %}
</script>
{% endblock %}
