@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --primary-1: #dffbfb;
  --primary-2: #cdfaf8;
  --primary-3: #bcf8f6;
  --primary-4: #0C4B33;
  --primary-5: #88f2ef;
  --primary-6: #7ddfdc;
  --primary-7: #67b8b6;
  --neutral-1: #f2f2f2;
  --neutral-2: #e5e5e5;
  --neutral-3: #cccccc;
  --neutral-4: #b2b2b2;
  --neutral-5: #999999;
  --neutral-6: #808080;
  --neutral-7: #666666;
  --accent-1: #cee9ff;
  --accent-2: #afdaff;
  --accent-3: #9ad1ff;
  --accent-4: #86c7ff;
  --accent-5: #71beff;
  --accent-6: #68afeb;
  --accent-7: #5fa0d6;
  --green-1: #d9ffd0;
  --green-2: #cbffc0;
  --green-3: #beffb0;
  --green-4: #b0ff9f;
  --green-5: #89d678;
  --green-6: #629956;
  --green-7: #629956;
  --yellow-1: #fff6d4;
  --yellow-2: #fff2bd;
  --yellow-3: #ffeda6;
  --yellow-4: #ffe88f;
  --yellow-5: #ffe478;
  --yellow-6: #ffdf61;
  --yellow-7: #ebcd59;
  --red-1: #ffcccc;
  --red-2: #ffb0b0;
  --red-3: #ff9595;
  --red-4: #ff7a7a;
  --red-5: #ff5e5e;
  --red-6: #ff4343;
  --red-7: #eb3e3e;
  --max-width: 1920px;
  --max-width-medium: 960px;
  --max-width-small: 640px;
  --background-color: transparent;
  --btn-primary-color: #ffffff;
  --btn-accent-color: #ffffff;
  --btn-positive-color: #ffffff;
  --btn-negative-color: #ffffff;
  --btn-neutral-color: #ffffff;
  --btn-white-color: var(--neutral-5);
  --color-text: #000000;
  --input-padding-x: 10px;
  --input-padding-y: 10px;
  --color-grey: #A1A1A1;
  --color-dark-grey: #585858;
  --input-color: #495057;
  --input-border-color: #45b4e7;
  --input-border-color-focus: #136f99;
  --button-color-light: #FFF;
  --button-color-light-hover: #FFF;
  --button-color-dark: #FFF;
  --button-color-dark-hover: #FFF;
  --button-dark-border: #136f99;
  --button-dark-background-hover: #136f99;
  --a-color: #ffffff;
  --a-color-hover: #1ca0dd;
  --nav-background-color: #ffffff;
  --nav-color: var(--primary-8);
  --nav-color-hover: #585858;
  --outline-color: none;
  --border-color: #000;
  --page-width: 1220px;
  --medium-width: 700px;
  --small-width: 420px;
  --min-width: 300px;
  --min-height: 80vh;
  --footer-height: 419px;
  --pop-up-color: #FFF;
  --winwheel-border-color: #00162b;
  --light-border-color: var(--neutral-2);
  --basic-input-height: 42px;
  --basic-input-small-height: 20px;
  --font-color: #ffffff;
  --black: #000000;
  --white: #ffffff;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--neutral-3);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--neutral-3);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--neutral-3);
}

.cc-window {
  color: var(--primary-9) !important;
  border: 2px solid var(--primary-7);
  background-color: #ffffff;
}

.cc-btn .cc-dismiss {
  background-color: var(--primary-7);
}

.cc-btn .cc-dismiss:hover {
  background-color: var(--primary-9);
}

.cc-message {
  cursor: text;
  color: var(--primary-8) !important;
}

.cc-message:hover {
  cursor: text;
  color: var(--primary-8) !important;
}

/* All */
body {
  background-color: var(--background-color);
  min-width: var(--min-width);
  /* font-family: "brother-1816",sans-serif;
    font-family: 'Roboto', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
	position: relative;
	overflow-x: hidden;
}

h1 {
  font-size: 4rem;
}

a {
  color: unset;
  cursor: pointer !important;
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  color: unset;
  cursor: pointer !important;
  color: var(---a-color-hover);
  text-decoration: underline !important;
}

p {
  font-weight: 400;
}

input[type="file"] {
  cursor: pointer;
}

select {
  border-radius: 2px;
  color: var(--color-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--neutral-4);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  font-size: 14px;
}

select:hover {
  cursor: pointer;
  border-color: var(--input-border-color-focus);
}

select:focus {
  border-color: var(--input-border-color-focus);
  outline: var(--outline-color);
}

textarea {
  border-radius: 2px;
  color: var(--color-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--neutral-4);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  font-size: 14px;
}

textarea:hover {
  cursor: text;
  border-color: var(--neutral-7);
}

textarea:focus {
  border-color: var(--accent-7);
}

p {
  margin-bottom: 0;
}

button:focus {
  outline: var(--outline-color);
}

button {
  font-size: 14px;
  font-weight: 300;
  vertical-align: middle;
  transition: .3s;
  align-items: flex-start;
  text-align: center;
  -webkit-appearance: button;
  text-shadow: none;
  white-space: nowrap;
  display: inline-block;
  left: auto;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  border-radius: 2px;
}

button:focus {
  outline: var(--outline-color);
}


.body {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin: auto;
}

#main-block {
  position: relative;
  opacity: 0;
  padding-top: 120px;
  min-height: var(--min-height);
  max-width: var(--page-width);
  transition: opacity 0.8s ease-out, padding-top 0.8s ease-out;
}

#main-content {
  margin: 80px auto 40px auto;
  position: relative;
  min-height: calc(100vh - var(--footer-height));
}

@media(max-width: 767px) {
  #main-content {
    margin-top: 64px;
  }
}

.content-block {
  max-width: var(--max-width);
  min-height: calc(100vh - var(--footer-height));
}

@media(min-width: 768px) {
  .full-page-div {
    height: 100vh;
  }
}

/* extend bootstrap */
.unset {
  all: unset;
}

.unset:hover {
  all: unset;
}

.border {
  border: 1px solid var(--neutral-2) !important;
}

@media(min-width: 576px) {
  .border-sm {
    border: 1px solid var(--neutral-2) !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-auto {
    width: auto !important;
  }
}

@media(min-width: 768px) {
  .border-sm {
    border: 1px solid var(--neutral-2) !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .w-md-auto {
    width: auto !important;
  }
}

@media(min-width: 992px) {
  .border-sm {
    border: 1px solid var(--neutral-2) !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-auto {
    width: auto !important;
  }
}

@media(min-width: 1200px) {
  .border-sm {
    border: 1px solid var(--neutral-2) !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-auto {
    width: auto !important;
  }
}

.max-width-large {
  max-width: var(--max-width);
}

.max-width-medium {
  max-width: var(--max-width-medium);
}

.max-width-small {
  max-width: var(--max-width-small);
}

.max-width-1200 {
  max-width: 1200px;
}

.max-width-1400 {
  max-width: 1400px;
}

.min-height-240 {
  min-height: 240px;
}

.color-primary {
  color: var(--primary-4);
}

.color-black {
  color: var(--black);
}

.color-white {
  color: var(--white);
}

.color-green {
  color: var(--green-4);
}

.color-red {
  color: var(--red-4) !important;
}

.bg-primary {
  background-color: var(--primary-4) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer !important;
}

.border-thick {
  border-width: 2px !important;
  ;
}

.border-white {
  border-color: var(--white) !important;
}

.border-black {
  border-color: var(--black) !important;
}

.border-primary {
  border-color: var(--primary-4) !important;
}

.border-neutral {
  border-color: var(--neutral-2) !important;
}

.border-error {
  border-color: var(--red-4) !important;
}

.card {
  border: 1px solid var(--neutral-2);
}

.collapsable-card-header {
  cursor: pointer;
  margin-bottom: 8px;
}

.a-link {
  color: var(--a-color);
  text-decoration: none !important;
  transition: all 0.3s;
}

.a-link:hover {
  color: var(--a-color);
  text-decoration: none !important;
  transition: all 0.3s;
}

.a-link-reverse {
  color: var(--primary-4);
  text-decoration: none !important;
}

.a-link-reverse:hover {
  color: var(--primary-5);
  text-decoration: none !important;
}

.a-neutral {
  color: var(--neutral-4);
}

.a-neutral:hover {
  text-decoration: underline;
}

.font-small {
  font-size: 14px;
}

.font-smaller {
  font-size: 12px;
}

.font-smallest {
  font-size: 10px;
}

.aspect-1-1 {
  width: 100%;
  padding-bottom: 100%;
}

.aspect-2-3 {
  width: 100%;
  padding-bottom: 66.66%;
  background-size: cover;
  background-position: center;
}

.image-contain {
  vertical-align: middle;
  object-fit: cover;
}

.background-image-center {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.background-image-center-cover {
  background-size: cover;
  background-position: center;
}

.btn {
  padding: 0.5rem .75rem;
}

.btn-lg {
  padding: 16px auto;
  font-size: 16px;
}

.btn-primary {
  border-color: var(--primary-7);
  background-color: var(--primary-7);
  color: var(--btn-primary-color);
}

.btn-primary:hover {
  color: var(--btn-primary-color);
  border-color: var(--primary-9);
  background-color: var(--primary-9);
}

.btn-primary-reverse {
  color: var(--primary-7);
  border-color: var(--primary-7);
  background-color: var(--btn-primary-color);
}

.btn-primary-reverse:hover {
  color: var(--btn-primary-color);
  border-color: var(--primary-9);
  background-color: var(--primary-9);
}

.btn-primary-border {
  color: var(--primary-4);
  border-color: var(--primary-4);
  background-color: #ffffff;
}

.btn-primary-border:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: var(--primary-4);
}


.btn-secondary {
  color: var(--btn-accent-color);
  border-color: var(--accent-6);
  background-color: var(--accent-6);
}

.btn-secondary:hover {
  color: var(--btn-accent-color);
  border-color: var(--accent-9);
  background-color: var(--accent-9);
}

.btn-secondary-reverse {
  color: var(--accent-6);
  border-color: var(--accent-6);
  background-color: var(--btn-accent-color);
}

.btn-secondary-reverse:hover {
  color: var(--btn-accent-color);
  background-color: var(--accent-6);
}

.btn-input-button {
  height: var(--basic-input-height);
}

.btn-input-button-icon {
  width: var(--basic-input-height);
  height: var(--basic-input-height);
}

.btn-input-button-icon-small {
  width: var(--basic-input-small-height);
  height: var(--basic-input-small-height);
}

.btn-neutral {
  color: var(--btn-neutral-color);
  border-color: var(--neutral-3);
  background-color: var(--neutral-3);
}

.btn-neutral:hover {
  color: var(--btn-accent-color);
  border-color: var(--neutral-6);
  background-color: var(--neutral-6);
}

.btn-neutral-reverse {
  color: var(--neutral-3);
  border-color: var(--neutral-3);
  background-color: var(--btn-neutral-color);
}

.btn-neutral-reverse:hover {
  color: var(--btn-accent-color);
  background-color: var(--neutral-3);
}

.btn-positive {
  border-color: var(--green-5);
  background-color: var(--green-5);
  color: var(--btn-positive-color);
}

.btn-positive:hover {
  border-color: var(--red-7);
  background-color: var(--red-7);
  color: var(--btn-positive-color);
}

.btn-negative {
  border-color: var(--red-5);
  background-color: var(--red-5);
  color: var(--btn-negative-color);
}

.btn-negative:hover {
  border-color: var(--red-7);
  background-color: var(--red-7);
  color: var(--btn-negative-color);
}

.btn-negative-reverse {
  border-color: var(--red-5);
  background-color: var(--btn-negative-color);
  color: var(--red-5);
}

.btn-negative-reverse:hover {
  color: var(--btn-negative-color);
  background-color: var(--red-5);
}

.btn-white {
  border-color: var(--neutral-2);
  color: var(--btn-white-color);
  background-color: #ffffff;
}

.btn-white:hover {
  border-color: var(--neutral-2);
  color: var(--btn-white-color);
  background-color: var(--neutral-1);
}

.btn-disabled {
  border-color: var(--neutral-4);
  background-color: #fff;
  color: var(--neutral-4);
}

.btn-icon {
  padding: 4px 4px;
  height: 20px;
  width: 20px;
}

.btn-fa-icon {
  padding: 4px 4px;
  height: 24px;
  width: 24px;
}

.btn-round-fa-icon {
  border-radius: 50%;
  padding: 4px 4px;
  height: var(--basic-input-height);
  width: var(--basic-input-height);
}

/* custom widgets */
.error-message-container {
  padding-top: 20px;
  position: absolute;
  z-index: 20;
  width: 100%;
}

.opacity-1 {
  opacity: 1 !important;
}

.fancy-alert-container {
  position: relative;
  border-radius: 4px;
  margin: 0 auto 20px auto;
  height: auto;
  max-height: 500px;
  width: 800px;
  opacity: 0;
  color: #000000;
  box-shadow: rgba(22, 22, 22, 0.2) 0px 0px 2px 0px;
  transition: all 0.25s ease-in-out;
}

.fancy-alert-container-error {
  border-left: 6px solid var(--red-5);
}

.fancy-alert-container-warning {
  border-left: 6px solid var(--yellow-5);
}

.fancy-alert-container-success {
  border-left: 6px solid var(--green-5);
}

.fancy-alert-close-container {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.fancy-alert-close {
  color: var(--neutral-4);
  font-size: 16px;
  transition: color 0.25s ease-in-out;
}

.fancy-alert-close:hover {
  color: var(--neutral-6);
  font-size: 16px;
}

@media(max-width: 991px) {
  .fancy-alert-container {
    width: 640px;
  }
}

@media(max-width: 767px) {
  .fancy-alert-container {
    width: 95%;
  }
}

.fancy-alert-icon {
  font-size: 16px;
}

.fancy-alert-color-error {
  color: var(--red-4)
}

.fancy-alert-title-error {
  color: var(--red-7)
}

.fancy-alert-color-warning {
  color: var(--yellow-4)
}

.fancy-alert-title-warning {
  color: var(--yellow-7)
}

.fancy-alert-color-success {
  color: var(--green-6)
}

.fancy-alert-title-success {
  color: var(--green-8)
}

.w-h-40 {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .sm-center-horizontal {
    position: absolute !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-white {
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay-black {
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay-active {
  opacity: 1;
}

.z-index-2000 {
  z-index: 2000;
}

.overlay-content {
  overflow-y: auto;
  position: relative;
  cursor: default;
  box-shadow: rgba(22, 22, 22, 0.2) 0px 0px 2px 0px !important;
}

.small-overlay-content {
  width: 80%;
  max-width: 480px;
  padding: 24px;
}

.medium-overlay-content {
  width: 80%;
  max-width: 640px;
  padding: 24px;
}

.large-overlay-content {
  width: 90%;
  max-width: 800px;
  padding: 24px;
}

@media(max-width: 576px) {
  .overlay-content {
    width: 100%;
    height: 100%;
    max-width: unset;
    padding-top: 80px;
  }

  .medium-overlay-content {
    width: 100%;
    max-width: unset;
  }

  .large-overlay-content {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.side-overlay-content {
  overflow-y: auto;
  position: fixed;
  height: 100%;
  z-index: 2001;
  top: 0;
  right: -400px;
  width: 400px;
  background-color: #fff;
  transition: right 0.5s ease-in-out;
  box-shadow: rgba(22, 22, 22, 0.2) 0px 0px 2px 0px !important;
}

.side-overlay-content-active {
  right: 0;
}

@media(max-width: 576px) {
  .side-overlay-content {
    position: fixed;
    height: 100%;
    z-index: 2001;
    top: 0;
    left: 100%;
    width: 100%;
    box-shadow: unset;
    transition: left 0.5s ease-in-out;
  }

  .side-overlay-content-active {
    top: 0;
    left: 0;
  }
}

.overlay-close {
  display: flex;
  flex-direction: row-reverse;
  z-index: 2000;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 24px;
  color: var(--neutral-5);
}

.overlay-close .fa {
  font-size: 24px;
}

.overlay-close .fal {
  font-size: 24px;
}

.form-control {
  display: inline-block;
  max-width: var(--small-width);
}

.border-inside {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.snackbar {
  padding: 0 20px 0 20px;
  min-width: 290px;
  text-align: left;
  position: fixed;
  z-index: 3000;
  left: 50%;
  top: 65px;
  transform: translateX(-50%);
  -webkit-animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 4.5s;
  animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 4.5s;
}

@media(max-width: 767px) {
  .snackbar {
    width: 100%;
  }
}

.spinner-dots-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-dots-container-big {
  margin-top: 80px;
  padding-bottom: 80px;
}

.spinner-dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
}

.spinner-dots>div {
  width: 11.5px;
  height: 11.5px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-dots-medium>div {
  width: 16px;
  height: 16px;
}

.spinner-dots-medium>div {
  width: 16px;
  height: 16px;
}

.spinner-dots-big>div {
  width: 20px;
  height: 20px;
}

.spinner-dots-white>div {
  background-color: #fff;
}

.spinner-dots-primary>div {
  background-color: var(--primary-7);
}

.bounce1 {
  margin: 0 2px 0 0;
}

.bounce2 {
  margin: 0 2px 0 2px;
}

.bounce3 {
  margin: 0 0 0 2px;
}

.spinner-dots .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner-dots .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    opacity: 0;
    opacity: 0;
  }

  40% {
    opacity: 1;
    opacity: 1;
  }
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
  background-color: var(--primary-7);
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
  outline: none;
  border-color: var(--primary-7);
}

.radio input[type="radio"]:disabled+.radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
  margin-right: 0;
}


.negative-action {
  color: var(--primary-7);
  transition: color 0.5s ease-in-out;
}

.negative-action:hover {
  color: var(--primary-10);
}

/* input */
.form-error-container {
  border: 1px solid var(--red-7);
  border-radius: 2px;
  color: var(--red-10);
  background-color: var(--red-1);
  padding: 4px;
}

.input-error {
  border: 1px solid var(--red-5) !important;
}

.field-error {
  font-size: 14px;
  margin-top: 4px;
  color: var(--red-5);
  text-align: left;
}

.basic-input-label {
  padding-top: 4px;
  margin-bottom: 8px;
}

@media(max-width: 576px) {
  .basic-input-label {
    padding-top: 4px;
    margin-bottom: 2px;
  }
}

.basic-form-input {
  border-radius: 2px;
  color: var(--color-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--neutral-4);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  cursor: text;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  padding: 8px 12px;
  width: 100%;
}

.basic-form-input[type='date'] {
  width: auto;
}

select.basic-form-input {
  height: 39px;
  width: auto;
}

.basic-form-input:hover {
  cursor: text;
  border-color: var(--neutral-7);
}

.basic-form-input:focus {
  border-color: var(--accent-7);
}

.basic-form-input[type=checkbox],
input[type=radio]:hover {
  cursor: pointer;
}

.basic-form-input[type=date] {
  font-size: 12.5px;
  cursor: pointer;
}

.basic-form-input-label {
  padding-top: 8px;
  display: block;
}

.basic-form-input-label-right {
  padding-top: 8px;
  display: block;
  text-align: right;
  margin-bottom: 2px;
}

.basic-form-input-toggler-label {
  margin-left: 4px;
  margin-right: 16px;
  font-size: 14px;
}

@media(max-width: 767px) {
  .basic-form-input-label-right {
    text-align: left;
  }
}

.basic-form-input-label-big {
  font-size: 24px;
}

.basic-form-input-select {
  height: 42px;
}

select.basic-form-input {
  cursor: pointer;
  max-width: 100%;
}

select.basic-form-input:hover {
  cursor: pointer;
}

select.basic-form-input:focus {
  cursor: pointer;
}

select.nav-input-filter-select {
  padding: 12px 0;
  font-size: 16px;
  padding-left: 0;
  border: none;
  width: 100%;
}

.full-file-input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.fancy-form-input {
  border-radius: 2px;
  color: var(--color-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--neutral-4);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  font-size: 14px;
}

.fancy-form-input:hover {
  cursor: text;
  border-color: var(--neutral-7);
}

.fancy-form-input:focus {
  border-color: var(--accent-7);
}

.fancy-form-input[type="date"] {
  border-radius: 2px;
  color: var(--color-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--neutral-4);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  font-size: 12.5px;
}

.fancy-form-input {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
}

.fancy-form-input-product-quantity {
  max-width: 100px;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.5;
}

.fancy-form-input-quantity {
  border-radius: 0;
  width: 50px;
  height: 24px;
  padding: 14px 5px 12px 5px;
  font-size: 14px;
}

select.fancy-form-input {
  cursor: pointer;
  font-size: 15px;
}

select.fancy-form-input:hover {
  cursor: pointer;
}

.form-label-group {
  padding: 0;
  position: relative;
  cursor: text;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  cursor: text;
}

.form-label-group>label {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #bdbdbd;
  border: 1px solid transparent;
  border-radius: 1px;
  transition: all .1s ease-in-out;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
}

.form-label-group>select,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  cursor: pointer;
}

.form-label-group select::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group select:-ms-input-placeholder {
  color: transparent;
}

.form-label-group select::-ms-input-placeholder {
  color: transparent;
}

.form-label-group select::-moz-placeholder {
  color: transparent;
}

.form-label-group select::placeholder {
  color: transparent;
}

.form-label-group select:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group select:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
}

.form-label-group label {
  cursor: text;
}

.super-fancy-form-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  cursor: text;
  border-color: var(--neutral-7);
  border-radius: 2px;
  color: var(--color-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--neutral-4);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media(max-width: 575px) {
  .super-fancy-form-container {
    max-width: unset;
  }
}

.super-fancy-form-input {
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  border: none;
  padding: 12px 12px 12px 12px;
  width: 100%;
  height: 64px;
  font-size: 14px;
}

.super-fancy-form-icon-container {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.super-fancy-form-icon {
  font-size: 24px;
}

.super-fancy-form-small-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  cursor: text;
  border-color: var(--neutral-7);
  border-radius: 2px;
  color: var(--color-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--neutral-4);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media(max-width: 575px) {
  .super-fancy-form-small-container {
    max-width: unset;
  }
}

.super-fancy-form-small-input {
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  border: none;
  padding: 12px 12px 12px 12px;
  width: 100%;
  font-size: 14px;
}

.super-fancy-form-small-icon-container {
  cursor: pointer;
  position: absolute;
  padding: 0 12px;
  top: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.super-fancy-form-small-icon {
  font-size: 24px;
}

.super-fancy-form-small-icon-container-colored {
  background-color: var(--primary-7);
}

.custom-select {
  outline: none;
  border: 1px solid rgb(242, 242, 242) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: white;
  font-size: 14.5px;
}

.custom-select:hover {
  background-color: white;
}

.custom-select:focus {
  background-color: white;
  border-color: var(--main-color-light);
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.custom-select select:focus {
  box-shadow: black;
  outline: 1px solid var(--main-color-dark)
}

.upload-zone {
  background: #F6F6F6;
  height: 500px;
  position: relative;
  border: 1px solid var(--neutral-4);
  transition: border-color 0.3s linear;
}



.nav-div-mobile {
  display: none;
  width: 200px;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  height: 100%;
  position: fixed;
  right: 1rem;
  top: -110vh;
  z-index: 1001;
  transition: top 0.3s ease-in;
  /*transition-duration: 0.2s;
    transition-property: -ms-transform, -webkit-transform, transform;
    transition-timing-function: ease-out;*/
  transform: translateY(0px);
}


@media(max-width: 767px) {
  .nav-div-mobile {
    display: block;
  }
}

.nav-div-mobile-1 {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-div-mobile-content {
  list-style-type: none;
  margin-top: 88px;
}

#nav-div-mobile-content .a-link-reverse {
  color: var(--primary-4);
}

#footer-social-media .a-link {
  color: #ffffff;
}

#footer-social-media .a-link:hover {
  color: var(--neutral-3);
}


.long-arrow-icon {
  width: 48px;
  cursor: pointer;
}

.long-right-arrow {
  position: absolute;
  width: 48px;
  height: 1px;
  background-color: inherit;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.long-right-arrow::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  top: -3px;
  right: -2px;
  background-color: inherit;
  transform: rotate(30deg);
}

.long-right-arrow::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  top: 3px;
  right: -2px;
  background-color: inherit;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  transform: rotate(-30deg);
}

.long-left-arrow {
  position: absolute;
  width: 48px;
  height: 1px;
  background-color: inherit;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.long-left-arrow::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  top: -3px;
  left: -2px;
  background-color: inherit;
  transform: rotate(-30deg);
}

.long-left-arrow::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  top: 3px;
  left: -2px;
  background-color: inherit;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  transform: rotate(30deg);
}

.pagination-page{
  height: 40px;
  width: 40px;
  transition: all 0.3s;
}
.pagination-page:hover{
  color: var(--primary-4);
  background-color: #ffffff;
}
.pagination-page.active{
  color: var(--primary-4);
  background-color: #ffffff;
}

.h-auto {
	height: auto;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
table {
  border-spacing: 2px;
}
table tr:nth-child(even) {
	color: var(--portfolio);
  background-color: white;
}
table tr:nth-child(odd) {
  background-color: var(--portfolio);
}