:root {
  --about: rgb(52,87,116);
  --articles: #0C4B33;
  --article: #000000;
  --portfolio: #FF5A5F;
  --about: rgb(52,87,116);
	--contact: rgb(38, 38, 38);
	--tag-text-color: var(--contact);
}

.whole-page-overlay{
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  min-height: 100vh;
  position: absolute;
  transition: all 0.5s ease-out;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


#nav-menu-container{
  border: 2px solid #ffffff !important;
  transition: background-color 0.3s ease-in-out;
}
#nav-menu-container.is-active{
  border: 2px solid #ffffff !important;
  background-color: #ffffff !important;
}
.nav-menu-btn {
  display: block;
  width: 32px;
}
.nav-menu-btn:before,
.nav-menu-btn:after {
  background-color: #ffffff;
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.is-active:before,
.nav-menu-btn.is-active:after {
  background-color: var(--articles);
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn:before {
  box-shadow: 0 9px 0 #ffffff;
  margin-bottom: 14px;
}
.nav-menu-btn.is-active:before {
  box-shadow: 0 0 0 var(--articles);
  transform: translateY(9px) rotate(45deg);
}
.nav-menu-btn.is-active:after{
  transform: translateY(-9px) rotate(-45deg);
}

#nav-div-mobile-content.article .a-link-reverse{
  color: white;
  background-color: var(--article);
}
#nav-div-mobile-content.article .a-link-reverse:hover{
  color: var(--article);
  background-color: white;
}

#nav-menu-container.article{
  border: 2px solid var(--black) !important;
  background-color: #ffffff !important;
}
#nav-menu-container.article.is-active{
  border: 2px solid var(--black) !important;
  background-color: var(--black) !important;
}
.nav-div-mobile.article{
  background-color: var(--black);
}
#nav-bar-big.article .a-link{
  color: var(--black);
}
#nav-bar-big.article .a-link:hover{
  color: #ffffff;
  background-color: var(--black);
}
.nav-div-mobile.article{
  background-color: var(--black);
}
.nav-menu-btn.article:before,
.nav-menu-btn.article:after {
  background-color: var(--black);
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.article.is-active:before,
.nav-menu-btn.article.is-active:after {
  background-color: #ffffff;
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.article:before {
  box-shadow: 0 9px 0 var(--black);
  margin-bottom: 14px;
}
.nav-menu-btn.article.is-active:before {
  box-shadow: 0 0 0 #ffffff;
  transform: translateY(9px) rotate(45deg);
}
.nav-menu-btn.article.is-active:after{
  transform: translateY(-9px) rotate(-45deg);
}

#nav-bar-big{
  background-color: transparent;
}

#nav-bar-big .a-link:hover{
  transition: all 0.3s;
  background-color: #ffffff;
  color: var(--articles);
}
#nav-bar-big.about .a-link{
  color: #ffffff
}
#nav-bar-big.about .a-link:hover{
  transition: all 0.3s;
  background-color: #ffffff;
  color: var(--about);
}

#nav-menu-container.about{
  border: 2px solid #ffffff !important;
  background-color: var(--about) !important;
}
#nav-menu-container.about.is-active{
  border: 2px solid #ffffff !important;
  background-color: #ffffff !important;
}
.nav-div-mobile.about{
  background-color: #ffffff;
}
.nav-div-mobile.about{
  background-color: #ffffff;
}
#nav-div-mobile-content.about .a-link-reverse{
  background-color: #ffffff;
  color: var(--about);
  transition: all 0.3s;
}
#nav-div-mobile-content.about .a-link-reverse:hover{
  background-color: var(--about);
  color: #ffffff;
}
.nav-menu-btn.about:before,
.nav-menu-btn.about:after {
  background-color: #ffffff;
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.about.is-active:before,
.nav-menu-btn.about.is-active:after {
  background-color: var(--about);
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.about:before {
  box-shadow: 0 9px 0 #ffffff;
  margin-bottom: 14px;
}
.nav-menu-btn.about.is-active:before {
  box-shadow: 0 0 0 var(--about);
  transform: translateY(9px) rotate(45deg);
}
.nav-menu-btn.about.is-active:after{
  transform: translateY(-9px) rotate(-45deg);
}
.nav-div-mobile.about{
  background-color: #ffffff;
}
.nav-div-mobile.about{
  background-color: #ffffff;
}
.nav-menu-btn.about:before,
.nav-menu-btn.about:after {
  background-color: #ffffff;
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.about.is-active:before,
.nav-menu-btn.about.is-active:after {
  background-color: var(--about);
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.about:before {
  box-shadow: 0 9px 0 #ffffff;
  margin-bottom: 14px;
}
.nav-menu-btn.about.is-active:before {
  box-shadow: 0 0 0 var(--about);
  transform: translateY(9px) rotate(45deg);
}
.nav-menu-btn.about.is-active:after{
  transform: translateY(-9px) rotate(-45deg);
}




#nav-div-mobile-content .a-link-reverse{
  color: var(--articles);
  background-color: #ffffff;
  transition: all 0.3s;
}
#nav-div-mobile-content .a-link-reverse:hover{
  color: #ffffff;
  background-color: var(--articles);
}


#nav-bar-big.contact .a-link{
  color: var(--contact);
}
#nav-bar-big.contact .a-link:hover{
  transition: all 0.3s;
  background-color: #ffffff;
  color: var(--contact);
}

#nav-menu-container.contact{
  border: 2px solid #ffffff !important;
  background-color: var(--contact) !important;
}
#nav-menu-container.contact.is-active{
  border: 2px solid #ffffff !important;
  background-color: #ffffff !important;
}
.nav-div-mobile.contact{
  background-color: #ffffff;
}
.nav-div-mobile.contact{
  background-color: #ffffff;
}
#nav-div-mobile-content.contact .a-link-reverse{
  color: var(--contact);
  background-color: #ffffff;
  transition: all 0.3s;
}
#nav-div-mobile-content.contact .a-link-reverse:hover{
  color: #ffffff;
  background-color: var(--contact);
}
.nav-menu-btn.contact:before,
.nav-menu-btn.contact:after {
  background-color: #ffffff;
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.contact.is-active:before,
.nav-menu-btn.contact.is-active:after {
  background-color: var(--contact);
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.contact:before {
  box-shadow: 0 9px 0 #ffffff;
  margin-bottom: 14px;
}
.nav-menu-btn.contact.is-active:before {
  box-shadow: 0 0 0 var(--contact);
  transform: translateY(9px) rotate(45deg);
}
.nav-menu-btn.contact.is-active:after{
  transform: translateY(-9px) rotate(-45deg);
}
.nav-div-mobile.contact{
  background-color: #ffffff;
}
#nav-bar-big.contact .a-link{
  color: #ffffff
}
.nav-div-mobile.contact{
  background-color: #ffffff;
}
.nav-menu-btn.contact:before,
.nav-menu-btn.contact:after {
  background-color: #ffffff;
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.contact.is-active:before,
.nav-menu-btn.contact.is-active:after {
  background-color: var(--contact);
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.contact:before {
  box-shadow: 0 9px 0 #ffffff;
  margin-bottom: 14px;
}
.nav-menu-btn.contact.is-active:before {
  box-shadow: 0 0 0 var(--contact);
  transform: translateY(9px) rotate(45deg);
}
.nav-menu-btn.contact.is-active:after{
  transform: translateY(-9px) rotate(-45deg);
}



#nav-bar-big.portfolio .a-link{
  color: var(--portfolio);
}
#nav-bar-big.portfolio .a-link:hover{
  transition: all 0.3s;
  background-color: #ffffff;
  color: var(--portfolio);
}

#nav-menu-container.portfolio{
  border: 2px solid #ffffff !important;
  background-color: var(--portfolio) !important;
}
#nav-menu-container.portfolio.is-active{
  border: 2px solid #ffffff !important;
  background-color: #ffffff !important;
}
.nav-div-mobile.portfolio{
  background-color: #ffffff;
}
.nav-div-mobile.portfolio{
  background-color: #ffffff;
}
#nav-div-mobile-content.portfolio .a-link-reverse{
  color: var(--portfolio);
  background-color: #ffffff;
  transition: all 0.3s;
}
#nav-div-mobile-content.portfolio .a-link-reverse:hover{
  color: #ffffff;
  background-color: var(--portfolio);
}
.nav-menu-btn.portfolio:before,
.nav-menu-btn.portfolio:after {
  background-color: #ffffff;
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.portfolio.is-active:before,
.nav-menu-btn.portfolio.is-active:after {
  background-color: var(--portfolio);
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.portfolio:before {
  box-shadow: 0 9px 0 #ffffff;
  margin-bottom: 14px;
}
.nav-menu-btn.portfolio.is-active:before {
  box-shadow: 0 0 0 var(--portfolio);
  transform: translateY(9px) rotate(45deg);
}
.nav-menu-btn.portfolio.is-active:after{
  transform: translateY(-9px) rotate(-45deg);
}
.nav-div-mobile.portfolio{
  background-color: #ffffff;
}
#nav-bar-big.portfolio .a-link{
  color: #ffffff
}
.nav-div-mobile.portfolio{
  background-color: #ffffff;
}
.nav-menu-btn.portfolio:before,
.nav-menu-btn.portfolio:after {
  background-color: #ffffff;
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.portfolio.is-active:before,
.nav-menu-btn.portfolio.is-active:after {
  background-color: var(--portfolio);
  content: '';
  display: block;
  height: 3px;
  transition: all 200ms ease-in-out;
}
.nav-menu-btn.portfolio:before {
  box-shadow: 0 9px 0 #ffffff;
  margin-bottom: 14px;
}
.nav-menu-btn.portfolio.is-active:before {
  box-shadow: 0 0 0 var(--portfolio);
  transform: translateY(9px) rotate(45deg);
}
.nav-menu-btn.portfolio.is-active:after{
  transform: translateY(-9px) rotate(-45deg);
}


.position-absolute-center{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.invisible-input{
  border-color: transparent;
}

@media(max-width: 767px){
  .articles-search-bar{
    width: 100%;
    height: 52px;
    top: 80px;
		left: 100%;
    z-index: 2;
    transition: left 0.2s ease-in-out;
  }
  .articles-search-bar.is-active{
		left: 0;
    transition: left 0.2s ease-in-out;
	}
}
@media(min-width: 768px){
  .articles-search-bar{
    width: 100%;
    height: 80px;
		left: 100%;
    top: 60px;
    z-index: 2;
    transition: left 0.2s ease-in-out;
  }
  .articles-search-bar.is-active{
		left: 0;
    transition: left 0.2s ease-in-out;
  }
}

.article-hidden-overlay{
  z-index: -1 !important;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
/*.article-hidden-overlay:hover{
  opacity: 1;
}*/
.article-hidden-overlay.active{
  opacity: 1;
  z-index: 1 !important;
}

.article-preview-overlay{
  height: 48px; 
}
@media(max-width: 767px){
  .article-preview-overlay{
    height: 64px; 
  }
}
@media(max-width: 767px){
  .row{
    margin-right: -4px;
    margin-left: -4px;
  }
  .article{
    padding-left: 4px; padding-right: 4px;
  }
}


#footer-social-media.article .a-link{
  color: #808080;
  transition: all 0.3s;
}
#footer-social-media.article .a-link:hover{
  color: #000000;
}

.bg-blog{
  background-color: var(--articles);
}
.bg-contact{
  background-color: var(--contact);
}
.bg-about{
  background-color: var(--about);
}
.bg-portfolio{
  background-color: var(--portfolio);
}

.btn-contact-border {
  color: var(--contact);
  border-color: var(--contact);
  background-color: #ffffff;
}

.btn-contact-border:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: var(--contact);
}

.whole-screen-view{
  height: 100vh
}
.whole-screen-view-bottom-left{
  bottom: 0;
  right: 0;
}



.h5-skeleton{
  height: 1.25rem;
  margin-bottom: 1rem;
  width: 40%;
  border-radius: 100px;
}
.h2-skeleton{
  height: 2rem;
  margin-bottom: 0.5rem;
  width: 60%;
  border-radius: 100px;
}
.release-date-skeleton{
  height: 1rem;
  width: 80px;
  border-radius: 100px;
}
.read-more-skeleton{
  height: 1rem;
  width: 120px;
  border-radius: 100px;
}


@keyframes fullView {
  100% {
    width: 100%;
  }
}
.skeleton-animate-border {
  animation : shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #919191 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}
.skeleton-animate {
  animation : shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #919191 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton-border {
  position: relative;
  background: var(--articles);
	margin: 2px;
}
.skeleton-border:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  background: linear-gradient(to right, #eff1f3 4%, #919191 25%, #eff1f3 36%);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.skeleton-border-rainbow {
  border-width: 2px;
  position: relative;
  border-radius: 2px;
}
.skeleton-border-rainbow:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 4px;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.article-content-tag{
  color: var(--white);
  background-color: var(--articles);
  transition: all 0.3s;
}
.article-content-tag:hover{
  color: var(--articles);
  background-color: var(--white);
}

.article-tag{
  color: var(--article);
  background-color: var(--white);
  transition: all 0.3s;
}
.article-tag:hover{
  color: var(--white);
  background-color: var(--article);
}