
#nav-div {
  height: 65px;
  border: 1px solid var(--neutral-2);
  border-width: 0 0 1px 0;
  color: var(--nav-color);
  background-color: var(--nav-background-color);
  z-index: 1000;
}

#nav-bar {
  height: 64px;
  margin: 0 auto;
  min-width: var(--min-width);
  width: 100%;
  font-weight: 500;
  background-color: inherit !important;
}

@media(max-width: 767px) {
  #nav-div {
    height: 65px;
  }

  #nav-bar {
    height: 64px;
  }
}

.navbar {
  padding: 0 8px;
}

@media(max-width: 767px) {
  .navbar-left {
    height: 64px;
  }

  .nav-search-input-filter-div {
    top: 8px;
  }
}

.nav-fixed-middle-logo {
  position: absolute;
  top: 22px;
  height: 40px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: inherit;
  height: 100%;
}

.navbar-nav {
  height: 100%;
  font-size: 16px;
}

@media(min-width: 768px) {
  .navbar-nav {
    font-size: 16px;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }
}

.navbar-fixed {
  height: 100%;
  margin-left: 16px;
}

.navbar-left-div {
  margin-left: 16px;
}

.navbar-fixed-right-div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 16px;
}

@media(max-width: 767px) {
  .navbar-fixed-right-div {
    margin-right: 0;
  }
}

.navbar-fixed-right-item {
  margin-right: 16px;
}

.navbar-expand-md .navbar-collapse {
  flex-basis: 100%;
}

.navbar-brand {
  color: var(--nav-color) !important;
}

.nav-link {
  position: relative;
  font-size: 14px;
  color: var(--nav-color) !important;
  padding: 0 8px;
  white-space: nowrap;
}

.nav-link:hover {
  color: var(--nav-color-hover) !important;
}

.nav-link-dot {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 8px;
  height: 8px;
  background-color: var(--yellow-7);
  border-radius: 50%;
}

.navbar-brand:hover {
  color: var(--nav-color-hover) !important;
}

.nav-search-input-filter-div {
  z-index: 100;
  top: 0px;
  left: 0px;
  border: 1px solid var(--neutral-3);
  position: absolute;
  width: auto;
  background-color: white;
  color: var(--color-text);
  transition: width 0.5s, height .5s, left 0.25s;
  -webkit-transition: width 0.5s, height .5s, left 0.25s;
  -moz-transition: width 0.5s, height .5s, left 0.25s;
  box-shadow: 0 2px 4px var(--neutral-2), 0 4px 12px var(--neutral-2);
}

.nav-search-input-div {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 8px 16px;
  transition: width 0.5s, height .5s;
  -webkit-transition: width 0.5s, height .5s;
  -moz-transition: width 0.5s, height .5s;
}

.nav-search-input {
  width: 200px;
  margin-left: 8px;
  border: none;
  transition: width 0.5s, height .5s;
  -webkit-transition: width 0.5s, height .5s;
  -moz-transition: width 0.5s, height .5s;
}

.nav-search-input:focus {
  outline: none;
  transition: width 0.25s;
  -webkit-transition: width .25s;
  -moz-transition: width 0.25s;
}

.nav-search-input-icon {
  color: var(--color-text);
  font-size: 20px;
}

.nav-input-filter {
  display: none;
  border: 1px solid var(--neutral-3);
  border-width: 1px 0 0 0;
  padding: 16px;
  transition: width 0.5s, height .5s;
  -webkit-transition: width 0.5s, height .5s;
  -moz-transition: width 0.5s, height .5s;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  white-space: nowrap;
}

.nav-item:hover .nav-link-selected {
  background-color: var(--primary-7);
}

.nav-link-container {
  white-space: nowrap;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-top: 4px;
  height: 100%;
  width: 100%;
}

.nav-link-selected {
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  height: 4px;
  width: 100%;
}

.nav-profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-4);
}

@media(max-width: 767px) {
  .nav-search-input-filter-div {
    top: 10px;
    box-shadow: 0 2px 2px var(--neutral-2), 0 4px 12px var(--neutral-2);
  }

  .nav-profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-4);
  }
}

@media(max-width: 575px) {
  .nav-search-input {
    width: 100px;
  }
}

.nav-item .subnav-hide {
  display: none;
}

.nav-item:hover .subnav-hide {
  display: block;
}

.subnav-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.subnav-left-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.subnav-container-1 {
  position: relative;
}

.subnav-content {
  background-color: white;
  color: var(--color-text);
  position: absolute;
  white-space: nowrap;
  top: -4px;
  right: 0;
  overflow: visible;
  box-shadow: 0 4px 4px var(--neutral-2), 0 4px 12px var(--neutral-2);
  min-height: 100px;
}

.subnav-left-content {
  background-color: white;
  color: var(--color-text);
  position: absolute;
  white-space: nowrap;
  top: -4px;
  left: 0;
  overflow: visible;
  box-shadow: 0 4px 4px var(--neutral-2), 0 4px 12px var(--neutral-2);
}

.subnav-content-padding {
  padding: 8px 16px;
}

.subnav-content-flags {
  width: 88px;
}

.subnav-content-small {
  width: 200px;
}

.subnav-content-large {
  width: 400px;
}

@media(max-width: 576px) {
  .subnav-content-large {
    width: 100%;
  }
}

.simple-subnav-item-container {
  padding: 0 16px;
}

.simple-subnav-item {
  color: var(--neutral-4);
  padding: 16px 0;
  border-bottom: 1px solid var(--neutral-1);
}

.simple-subnav-item:hover {
  border-bottom: 1px solid var(--neutral-4);
}

.simple-subnav-item-last {
  color: var(--neutral-4);
  padding: 16px 0;
  border-bottom: 1px solid white;
}

.simple-subnav-item-last:hover {
  border-bottom: 1px solid var(--neutral-4);
}

.nav-div-mobile {
  display: none;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  height: 100%;
  left: 0px;
  position: fixed;
  right: 0px;
  top: -100vh;
  z-index: 1001;
  transition: top 0.3s ease-in;
  /*transition-duration: 0.2s;
    transition-property: -ms-transform, -webkit-transform, transform;
    transition-timing-function: ease-out;*/
  transform: translateY(0px);
}

@media(max-width: 767px) {
  .nav-div-mobile {
    display: block;
  }
}

.nav-div-mobile-1 {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-div-mobile-content {
  list-style-type: none;
  padding: 88px 24px 24px;
}

.nav-div-mobile-section {
  padding: 12px 0;
  border: 1px solid var(--neutral-2);
  border-width: 0 0 1px 0;
}

.nav-div-mobile-section:last-of-type {
  border-width: 0;
}

.nav-div-mobile-section-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: var(--color-text);
  cursor: pointer;
  font-size: 16px;
  padding: 12px 0;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.25s;
}

.nav-div-mobile-section-item:hover {
  color: var(--neutral-10);
  opacity: 0.5;
}

.nav-div-mobile-section-item-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
}

.nav-div-mobile-section-item-icon {
  font-size: 24px;
}

.nav-flag-img {
  width: 24px;
}

@media(max-width: 576px) {
  .nav-flag-img {
    width: 20px;
  }
}